# Project information
site_name: Nevaro Roleplay
site_url: https://mythicallapis0181.github.io/NevaroRP-Docs

# Configuration
theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "default"
      scheme: slate
      primary: teal
      accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  logo: assets/images/nevaro-oranje.png
# Page tree
nav:
  - Home: index.md
  - Wetboeken:
    - wetboek/index.md
    - Wetboek van Strafrecht: wetboek/strafrecht.md
  - Regels:
    - apv/index.md
    - Algemene Plaatselijke Verordening: apv/ingame.md
    - Discord Regels: apv/discord.md
